body {
    margin: 0;
    background-color: #000;
    background: url('./bg-wood.jpg');
    height: 100%;
}

.centered {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
}

.centered-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.full-width {
    width: 100%;
}

.centered > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex {
    display: flex;
}

#canvas {
    transform-origin: 0 0;
}

#form-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.form-control {
    background: transparent;
    border: none;
}

#form-container form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#image-upload-ctrl {
    display: flex;
}
#image-upload-ctrl input {
    display: block;
    width: 100%;
}

label {
    font-size: 20px;
    width: 100%;
    margin-bottom: 15px;
}

#upload {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#puzzle-size-ctrl {
    display: none;
}

#submit-ctrl {
    display: none;
}

#image-preview {
    position: relative;
    flex-direction: column;
    align-self: center;
}

#image-preview img {
    width: 100%;
}

#image-crop {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    cursor: move;
    background-color: #fff;
    opacity: .3;
}

#image-crop-drag-handle-tl {
    position: absolute;
    top: -30px;
    left: -30px;
    width: 30px;
    height: 30px;
    cursor: move;
    background-color: #fff;
}
#image-crop-drag-handle-tr {
    position: absolute;
    top: -30px;
    right: -30px;
    width: 30px;
    height: 30px;
    cursor: move;
    background-color: #fff;
}
#image-crop-drag-handle-br {
    position: absolute;
    bottom: -30px;
    right: -30px;
    width: 30px;
    height: 30px;
    cursor: move;
    background-color: #fff;
}
#image-crop-drag-handle-bl {
    position: absolute;
    bottom: -30px;
    left: -30px;
    width: 30px;
    height: 30px;
    cursor: move;
    background-color: #fff;
}

#image-crop:before {
    content: ' ';
    display: inline-block;
}

#puzzle-shape-ctrl {
    display: none;
}

#puzzle-crop-ctrl { 
    display: flex;
}

#puzzle-setup {
    flex-direction: row;
    width: 100%;
}

#puzzle-setup--image {
    width: 40%;
    display: flex;
}

#puzzle-setup--image_input {

}

#puzzle-setup--image_preview {
    display: none;
}
#puzzle-setup--image_preview img {
    width: 100%;
}

#puzzle-setup--options {
    width: 60%;
    display: flex;
}

#full-image-viewer {
    position: absolute;
    display: none;
    z-index: 100;
}

#controls {
    position: fixed;
    z-index: 100;
    color: #000;
    top: 100px;
    left: 100px;
    display: none;
    padding: 15px;
    background: #fefefe;
    opacity: .8;
}

#preview-hide {
    display: none;
}

#inner-pieces-on {
    display: none;
}

#debug-info {
    position: fixed;
    z-index: 100;
    top: 20px;
    right: 20px;
    padding: 20px;
    background-color: #000;
    color: #fff;
    width: 400px;
    display: none;
    font-size: 12px;
}

.debug-info-row {
    margin-bottom: 10px;
}

.debug-info-row .label {
    float: left;
}

.debug-info-row .readout {
    float: right;
}

.group-container {
    position: absolute;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 80%;
}

.puzzle-list-item {
    width: 46%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.puzzle-list-item:nth-child(odd) {
    margin-right: 4%;
}

.puzzle-list-item__image {
    width: 100%;
}

.puzzle-list-item p {
    margin: 1em 0;
}

.group:after {
    content: "";
    display: table;
    clear: both;
}