body {
    margin: 0;
    color: #fff;
    height: 100%;
}

.centered {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
}

.centered-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.full-width {
    width: 100%;
}

.centered > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form-container {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.form-page {
    display: none;
}

.form-control {
    background: transparent;
    border: none;
}

#form-container form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#image-upload-ctrl {
    display: flex;
}
#image-upload-ctrl input {
    display: block;
    width: 100%;
}

label {
    font-size: 20px;
    width: 100%;
    margin-bottom: 15px;
}

#upload {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#puzzle-size-ctrl {
    display: none;
}

#submit-ctrl {
    display: none;
}

#image-preview {
    position: relative;
    flex-direction: column;
    align-self: center;
}

#image-preview img {
    width: 100%;
}

#image-crop {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    cursor: move;
    background-color: #fff;
    opacity: .3;
}

#image-crop-drag-handle-tl {
    position: absolute;
    top: -30px;
    left: -30px;
    width: 30px;
    height: 30px;
    cursor: move;
    background-color: #fff;
}
#image-crop-drag-handle-tr {
    position: absolute;
    top: -30px;
    right: -30px;
    width: 30px;
    height: 30px;
    cursor: move;
    background-color: #fff;
}
#image-crop-drag-handle-br {
    position: absolute;
    bottom: -30px;
    right: -30px;
    width: 30px;
    height: 30px;
    cursor: move;
    background-color: #fff;
}
#image-crop-drag-handle-bl {
    position: absolute;
    bottom: -30px;
    left: -30px;
    width: 30px;
    height: 30px;
    cursor: move;
    background-color: #fff;
}

#image-crop:before {
    content: ' ';
    display: inline-block;
}

#puzzle-shape-ctrl {
    display: none;
}

#puzzle-crop-ctrl { 
    display: flex;
}

#puzzle-setup-ctrl {
    flex-direction: column;
}

#puzzle-size-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#puzzle-size-input-field {
    width: 100%;
}